[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
filetype = "*"
pillow = "*"
eth-keys = "*"
protobuf = "*"
eth-account = "*"

[dev-packages]

[requires]
python_version = "3.9"
